---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
import QRCard from '../../components/QRCard.astro';
import SocialMedia from '../../components/SocialMedia.astro';
import Layout from '../../layouts/Layout.astro';
const content = [
  {
    title: 'Instagram',
    link: 'https://www.instagram.com/hatreebrothers/',
  },
  {
    title: 'Facebook',
    link: 'https://www.facebook.com/hatreebrothers',
  },
  {
    title: 'Website',
    link: 'https://hatreebrothers.com/',
  },
  {
    title: 'Our services',
    link: 'https://hatreebrothers.com/services/',
  },
];
---
<Layout>
	<section class="w-full flex flex-col justify-center items-center gap-8 px-6 py-18">
	  <div class="w-full flex flex-col justify-center items-center gap-[21px]">
			<a href="https://hatreebrothers.com/" aria-label="Ir a la página principal" title="Inicio - H&A Tree Brothers">
        <img src="/logo.png" alt="Logo de H&A Tree Brothers - Servicio en Avondale, Arizona" width="262" height="72" class="cursor-pointer w-auto h-[65px] ">
      </a>
			<div class="flex flex-col justify-center items-center ">
				<h1 class="text-[16px] font-bold leading-[175%]">@hatreebrothers</h1>
				<div class="flex justify-center items-center gap-[3px] mt-[2px] mb-[11px]">
					<Icon name={'map'} class={"w-[9px] h-[11px] text-main"}/>
					<p class="text-[10.5px] leading-[22px] font-heveltica font-medium">Florida, Usa</p>
				</div>
				<p class="text-[12px] leading-[18px] text-center font-helveltica font-medium">H&A Tree Brothers: Professional tree services company based in Orlando, Florida.</p>
			</div>
			<SocialMedia />
		</div>
    <div class="w-full flex flex-col justify-center items-center gap-3">
      {
        content.map((item) => (
          <a class="w-full" href={item.link}>
            <div class={`w-full bg-main py-[10px] h-[47px] rounded-[10px] text-white flex justify-center items-center ${item.title === "Download our Flyer" ? "animate-shake" : ""}`}>
              <p class="font-heveltica text-[14px] font-bold leading-[140%]">{item.title}</p>
            </div>
          </a>
          
        ))
      }
    </div>  
		<div class="flex  flex-col justify-center items-center gap-[9px] mt-[40px]">
          <p class="text-[14px] font-normal leading-[140%] text-[#888] font-heveltica">Powered by</p>
          <a href="https://inkshapegroup.com/en/">
            <img src="/footer-logo.webp" alt="Imagen del Footer" width="3745" height="996" class="w-[110px]  h-[29px] cursor-pointer">
          </a>
        </div>
	</section>
</Layout>