@import "tailwindcss";

/* Fuente fallback optimizada para Poppins */
@font-face {
  font-family: "Kaleko105";
  src: url("/fonts/kaleko105-book.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Kaleko105";
  src: url("/fonts/kaleko105-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Kaleko105";
  src: url("/fonts/kaleko105-black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "HelvelticaNeue";
  src: url("/fonts/helvelticaneue-ligth.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "HelvelticaNeue";
  src: url("/fonts/helvelticaneue-medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "HelvelticaNeue";
  src: url("/fonts/helvelticaneue-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "Kaleko105", "HelvelticaNeue", sans-serif;
}

@theme {
  --color-main: #1F78DF;
  --color-secondary: #C5EE5B;
  --font-heveltica: "HelvelticaNeue", "Kaleko105", sans-serif;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite;
}