---
import '../../styles/global.css';

import { Icon } from 'astro-icon/components';
import Layout from '../../layouts/Layout.astro';
import Starts from '../../components/Starts';

---
<Layout>
	<section class="w-full flex flex-col justify-center items-center gap-4 h-full ">
    <div class="w-full flex flex-col justify-center items-center gap-4 min-h-[70vh] bg-main px-6 py-5">
      <div class="w-full flex flex-col justify-center items-center gap-[20px]">
        <a href="https://hatreebrothers.com/" aria-label="Ir a la página principal" title="Inicio - H&A Tree Brothers">
          <img src="/logo-2.png" alt="Logo de H&A Tree Brother" width="262" height="72" class="cursor-pointer w-auto h-[65px] ">
        </a>
        <div class="flex flex-col justify-center items-center ">
          <p class="font-heveltica text-[16px] leading-[20px] max-w-[320px] text-center text-white"> We hope you loved the experience with <br/> H&A Tree Brothers. <br/> <br/>Your feedback means the world to us.</p>
        </div>
      </div>
      <hr class="w-[24.5px] h-[3px] text-white">
      <div class="w-full  flex flex-col justify-center items-center  bg-secondary py-4 px-7 relative max-w-[500px]">
          <p class="text-[12px] font-bold text-center font-heveltica text-main leading-[15px] w-[226px] mb-2">Please tap the option that best reflects <br/> the quality of our service.</p>
          <Starts client:idle />
          <img src="/plant.png" alt="Planta de decoración" width="101" height="80" class="w-[34px] h-auto absolute bottom-0 -right-4"/>
      </div>
    </div>
		
    <section class="flex flex-col justify-center items-center gap-6 w-full py-8 bottom-0">
        <div class="flex justify-center items-center gap-3">
          <a href='https://www.facebook.com/hatreebrothers' class="w-[27px] h-[27px] md:w-[31px] md:h-[31px] rounded-full flex items-center justify-center bg-secondary flex-shrink-0">
            <Icon name={'facebook'} class={"w-4 h-4 md:w-5 md:h-5 text-main"}/>
          </a>
          <a href='https://www.instagram.com/hatreebrothers/' class="w-[27px] h-[27px] md:w-[31px] md:h-[31px] rounded-full flex items-center justify-center bg-secondary flex-shrink-0">
            <Icon name={'instagram'} class={"w-4 h-4 md:w-5 md:h-5 text-main"}/>
          </a>
        </div>
        <div class="flex  flex-col justify-center items-center gap-[9px]">
          <p class="text-[12px] font-normal leading-[140%] text-[#878787]">Powered by</p>
          <a href="https://inkshapegroup.com/en/">
            <img src="/footer-logo.webp" alt="Imagen del Footer" width="3745" height="996" class="w-[110px]  h-[29px] cursor-pointer">
          </a>
        </div>
      </section>
	</section>
</Layout>