---
import '../../styles/global.css';

import { Icon } from 'astro-icon/components';
import Layout from '../../layouts/Layout.astro';
import Starts from '../../components/Starts';

---
<Layout>
	<section class="w-full flex flex-col justify-center items-center gap-4 h-full ">
    <div class="w-full flex flex-col justify-center items-center gap-4 min-h-[70vh] bg-main px-6 py-5">
      <div class="w-full flex flex-col justify-center items-center gap-[20px]">
        <a href="https://nuvisionwindowsusa.com/" aria-label="Ir a la página principal" title="Inicio - NuVision Windows">
          <img src="/logo-2.png" alt="Logo de Capi Tile & Stone - Servicio en Avondale, Arizona" width="262" height="72" class="cursor-pointer w-auto h-[65px] ">
        </a>
        <div class="flex flex-col justify-center items-center ">
          <p class="font-heveltica text-[12px] leading-[18px] max-w-[320px] text-center text-white"> We hope you loved the experience with <br/> NuVision Windows. <br/> <br/>Your feedback means the world to us.</p>
        </div>
      </div>
      <hr class="w-[24.5px] h-[3px] text-white">
      <div class="w-full  flex flex-col justify-center items-center gap-4 relative min-h-[132px]">
        <div class="w-[302px] h-auto overflow-hidden absolute " >
          <img src="/fondo.png" alt="Fondo de Nuvision" width="323" height="141" style="display: block; width: 100%; height: 100%; object-fit: cover;" loading="lazy" decoding="async">
        </div>
        <div class="flex flex-col justify-center items-center  z-[10] bg-secondary py-4 rounded-[15px]">
          <p class="text-[10px] font-bold text-center font-heveltica text-[#1C3162] leading-[15px] w-[226px] mb-2">Please tap the option that best reflects the quality of our service.</p>
          <Starts client:idle />
        </div>
        
      </div>
    </div>
		
    <section class="flex flex-col justify-center items-center gap-3 w-full py-8 bottom-0">
        <div class="flex justify-center items-center gap-3">
          <a href='https://www.facebook.com/nuvisionwindowsusa' class="w-[27px] h-[27px] md:w-[31px] md:h-[31px] rounded-full flex items-center justify-center bg-secondary flex-shrink-0">
            <Icon name={'facebook'} class={"w-4 h-4 md:w-5 md:h-5 text-main"}/>
          </a>
          <a href='https://www.instagram.com/nuvisionwindows?igsh=MWV6MzNrdXhkYzE5aQ==' class="w-[27px] h-[27px] md:w-[31px] md:h-[31px] rounded-full flex items-center justify-center bg-secondary flex-shrink-0">
            <Icon name={'instagram'} class={"w-4 h-4 md:w-5 md:h-5 text-main"}/>
          </a>
        </div>
        <div class="flex  flex-col justify-center items-center gap-[9px]">
          <p class="text-[12px] font-normal leading-[140%] text-[#878787]">Powered by</p>
          <a href="https://inkshapegroup.com/en/">
            <img src="/footer-logo.webp" alt="Imagen del Footer" width="3745" height="996" class="w-[110px]  h-[29px] cursor-pointer">
          </a>
        </div>
      </section>
	</section>
</Layout>